html,
.body {
  padding: 100;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#components-layout-demo-fixed .logo {
  background: rgba(255, 255, 255, 0.2);
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #02d783 !important;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #02d783 !important;
}
.background-image {
  background-image: url('/sfondo.png')!important;
  background-size: cover!important;
  background-blend-mode: darken;
  height: 96px !important;
  line-height: 96px !important;
}
.background-image2 {
  background-image: url('/sfondo.png')!important;
  background-size: cover!important;
  background-blend-mode: darken;
}
.footer {
  background-image: url('/sfondo_footer.png')!important;
  height: 190px;
  width: 53%;
}
.ant-layout-footer {
  padding: 90px 130px !important;
  color: black !important;
  font-size: 20px !important;
  background-color: white !important;
  
}
.ant-layout {
  display: -moz-box;
  display: flex;
  -moz-box-flex: 1;
  flex: auto;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  min-height: 0;
  background: white !important;
}
.text_footer{
  color: black !important;
  text-decoration: underline;
}
main {
  min-height: 800px;
}
.input {
   margin-left: auto !important;
   margin-right: auto !important;
}
textarea.ant-input {
      max-width: 100% !important;
      line-height: 2 !important;
     
}
.ant-input {
  box-sizing: border-box;
}
.ant-input:hover {
  border-color: #02d783 !important;
  
}
.card {
  margin-left: auto !important;
   margin-right: auto !important;
   width: 60%;
   height: 360px;
   border-radius: 30px !important;
}
.main-title {
  margin-top: 250px;
  font-size: 2.8rem !important;
  color: rgb(246, 246, 246) !important;
  opacity: 0.98 !important;
  font-weight: 400;
  line-height: 20px;
  

}
.ant-carousel .slick-list .slick-slide.slick-active {
  pointer-events: none !important;
}
.title-paragraph {
  color: black !important;
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;
  font-size: 35px ;
  font-weight: 600;
}
.boxshadow_card{
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%)
}
.ant-col-6 {
  display: block;
  -moz-box-flex: 0;
  flex: 0 0 15% !important;
  max-width: 25%;
}
.main-scroll{
  line-height: 10;
}
main h3.animated{
  animation-duration: 2.5s;
animation-iteration-count: infinite;
}
.main-icon {
  margin-top: 140px;
  display: inline-grid;
  margin-left: 20px !important;
  color: rgb(119, 119, 121);
  font-size: 2rem;
  position: fixed;
}
.text-carousel {
  color: black !important;
}
.ant-carousel .slick-dots li.slick-active button {
  background: black !important;
  opacity: 1;
}
.ant-carousel .slick-dots li button {
  display: block;
  width: 100%;
  height: 3px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: grey !important;
  border: 0;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-paragraph {
  font-size: 17px;
    color: rgb(246, 246, 246);
    opacity: 0.85;
    line-height: 30px;
}
.main-subtitle{
  font-size: 1.6rem !important;
  color: rgb(119, 119, 121) !important;
  font-weight: 300;
}
h1, h3, h4, h5, h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgb(255, 255, 255) !important;
  font-weight: 500;
}
.anticon {
  margin-left: auto;
  margin-right: auto;
  
}
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  background-color:#02d783 !important;
  margin-top: 10px;
  width: 100%;
  color: white !important;
  
}

.ant-menu-item a {
  color: white !important;
}
.ant-btn:hover, .ant-btn:focus {
  color: black !important;
  background: #fff;
  border-color: white !important;
}
.ant-btn:active {
  color: white !important;
  background: #fff;
  border-color:white !important;
}


/*header quando non e trasparente*/
.ant-menu.ant-menu-dark {
  color: rgba(255, 255, 255, 0.65);
  background: #0a0a0a !important;
}
.ant-layout-header {
  height: 65px !important;
  padding: 0 0px !important;
  color: rgba(0, 0, 0, 0.85);
  line-height: 65px !important;
  background: #0a0a0a !important;
}


::-webkit-scrollbar{
  width:0.8em;
  height:0.8em;
background: white;
margin-right: 10px;
}
::-webkit-scrollbar:hover{
  background-color: black ;
border: none;
}
::-webkit-scrollbar-thumb{
  min-height:0.8em;
  min-width:0.8em;
  
  background-color: #02d783;
border: none;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #02d783;
border: none;

}
::-webkit-scrollbar-thumb:active{
  background-color: #02d783;
border: none;

}

.second-title {
  color: black;
  padding-top: 40px;
  letter-spacing: 10px;
}
.second-paragraph {
  color: gray;
  text-align: center;
  font-size: 10px;
}
.anticon > * {
  line-height: 1;
  position: relative;
  z-index: 1;
}
::selection {
  color: #fff;
  background: #02d783 !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date-today, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date-today {
  background: #02d783 !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date-today .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date-today .ant-picker-calendar-date-value {
  color: #02d783 !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today {
  border-color: #02d783 !important;
}
/*Header Trasparente*/
header.ant-layout-header.header {
  background: transparent !important;
}
ul.ant-menu.ant-menu-dark.menu.ant-menu-root.ant-menu-horizontal {
  background: transparent !important;
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-right-color: #02d783 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: #02d783 !important;
}
.ant-select-selector {
  border-color: #02d783 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #02d783 !important;
  background: #fff;
  border-color: #02d783 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #02d783 !important;
}
.rc-virtual-list-scrollbar-thumb {
  background: #02d783 !important;
}

.ant-progress {
  box-sizing: border-box;
  margin: 0;
  padding: 20px !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  display: flex !important;
}
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: #02d783 !important;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #02d783 !important;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #9AFCD5 !important;

}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #02d783 !important;
}
.ant-menu-submenu-selected {
  color: #02d783 !important;
}
.ant-menu-item-selected {
  color: black !important;
}
i.ant-menu-submenu-arrow {
  color: #02d783 !important;
}

html {
  --antd-wave-shadow-color: #02d783 !important ;
  --scroll-bar: 0;
  scroll-behavior: smooth;
}
span.ant-select-arrow {
  top: -16%!important;
}
.ant-alert-info {
  background-color: #9AFCD5 !important;
  border: 1px solid #02d783 !important;
  width: 25%;
}
.input-emotion {
  padding: 5px;
}
input, button, select, optgroup, textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.ant-radio-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  display: none !important;
  font-size: 0;
  line-height: unset;
}
.ant-select {
  box-sizing: border-box;
  margin: 20px !important;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.buttonemotion {
  background-color:#a3d1ff !important;
  margin-top: 10px;
  color: white !important;
  margin-right: auto !important;
    margin-left: auto !important;
    width: 25%;
    display: block !important;
}
